html {
  background-color: $background-color;
}

.navbar-dropdown {
  // Override bulma default
  padding: 0px !important;
}

.navbar {
  .navbar-title {
    font-size: 1.4em;
    @media screen and (max-width: $navbar-breakpoint) {
      font-size: 1.3em;
      font-weight: 500 !important;
    }
  }
  .site-logo-image {
    margin-right: 7px;
  }
  .main-nav-items {
    margin-left: auto;
    margin-right: unset;
    .icon {
      margin-right: 5px;
    }
  }
  .navbar-end {
    min-width: 110px;
  }
}

.flash {
  margin: 5px;
}

.page-container {
  margin-top: 52px;
}
