.login-form-container {
  padding: 16px;
  display: flex;
  justify-content: center;
  .login-form {
    .title {
      font-weight: normal;
      margin-bottom: 12px;
    }
    max-width: 600px;
    width: 100%;
  }
}

.navbar-end {
  min-width: 120px;
}
.logout-button,
.login-button {
  display: flex;
  max-width: 72px;
  margin: 12px 12px 8px 22px;
  @media screen and (max-width: $navbar-breakpoint) {
    margin-top: 5px;
    margin-left: 16px;
  }
}
