<div class="login-form-container">
  <div class="login-form">
    <br/>
    <h2 class="title is-4">Log in</h2>

    <%= form_with(url: login_path) do |f| %>
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" name="email" type="email" placeholder="Email">
          <span class="icon is-small is-left">
            <%= fa_icon("envelope", class: "fas") %>
          </span>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
          <input class="input" name="password" type="password" placeholder="Password" autocomplete="off">
          <span class="icon is-small is-left">
            <%= fa_icon("lock", class: "fas") %>
          </span>
        </p>
      </div>

      <div class="actions">
        <%= f.submit "Log in", class: "button is-info" %>
      </div>
    <% end %>
  </div>
</div>
