---
http_interactions:
- request:
    method: get
    uri: https://pixabay.com/api/?key=<PIXABAY_API_KEY>&page=1&per_page=60&q=vvgecievugufukukdhdifljfcfnltjbgfnvtgjvhillt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Reset:
      - '0.6'
      Allow:
      - POST, OPTIONS, GET
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"total":0,"totalHits":0,"hits":[]}'
  recorded_at: Sun, 10 Oct 2021 18:22:17 GMT
recorded_with: VCR 6.0.0
