---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?page=1&per_page=30&query=vvgecievugufukukdhdifljfcfnltjbgfnvtgjvhillt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Accept-Version:
      - v1
      Authorization:
      - Client-ID <UNSPLASH_ACCESS_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      X-Total:
      - '0'
      X-Per-Page:
      - '30'
      Content-Type:
      - application/json
      Etag:
      - W/"7814e74bfa62dcc505522924e3c8cf4b"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":0,"total_pages":0,"results":[]}'
  recorded_at: Sun, 10 Oct 2021 18:22:17 GMT
recorded_with: VCR 6.0.0
