---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?content_type=1&format=json&is_getty=true&media=photos&method=flickr.photos.search&nojsoncallback=1&oauth_consumer_key=<FLICKR_API_KEY>&oauth_nonce=RjJ3AZn0yQVhdpCP5lABjC8UPVZ1gfCYVQlAeVSaMW0=&oauth_signature=D4LQd7jj78l9ZLImwdnHSiAOI64=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1633890141&oauth_token=<FLICKR_ACCESS_TOKEN>&page=1&per_page=60&safe_search=3&sort=relevance&text=cats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":178,"perpage":60,"total":10672,"photo":[{"id":"6164169918","owner":"26902384@N07","secret":"be1ee7b9c0","server":"6174","farm":7,"title":"Cat.","ispublic":1,"isfriend":0,"isfamily":0},{"id":"4782953017","owner":"41350361@N04","secret":"b601af4dea","server":"4075","farm":5,"title":"Cat","ispublic":1,"isfriend":0,"isfamily":0},{"id":"1424229542","owner":"67706190@N00","secret":"0a119264e7","server":"1416","farm":2,"title":"Cat","ispublic":1,"isfriend":0,"isfamily":0},{"id":"5589378134","owner":"36521965462@N01","secret":"2a8d97ceee","server":"5221","farm":6,"title":"cat","ispublic":1,"isfriend":0,"isfamily":0},{"id":"2254118705","owner":"23567127@N03","secret":"36cfa01a1e","[...]
