---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?content_type=1&format=json&is_getty=true&media=photos&method=flickr.photos.search&nojsoncallback=1&oauth_consumer_key=<FLICKR_API_KEY>&oauth_nonce=1zkMnJDOhiMZqHxg99nUQRxWE/fzQKRv2YadqYrYiKk=&oauth_signature=bWjhED7Ia8jCuV%2BYFa2OmgNb7uo=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1633890139&oauth_token=<FLICKR_ACCESS_TOKEN>&page=1&per_page=60&safe_search=3&sort=relevance&text=vvgecievugufukukdhdifljfcfnltjbgfnvtgjvhillt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":0,"perpage":60,"total":0,"photo":[]},"stat":"ok"}'
  recorded_at: Sun, 10 Oct 2021 18:22:21 GMT
recorded_with: VCR 6.0.0
