---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?locale=ja-JP&page=1&per_page=60&query=vvgecievugufukukdhdifljfcfnltjbgfnvtgjvhillt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXELS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19674'
      X-Ratelimit-Reset:
      - '1635039298'
      X-Server:
      - master
      X-Tyk-Cached-Response:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":60,"photos":[],"total_results":0}'
  recorded_at: Sun, 10 Oct 2021 18:22:21 GMT
recorded_with: VCR 6.0.0
