---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?page=1&per_page=30&query=vvgecievugufukukdhdifljfcfnltjbgfnvtgjvhillt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Accept-Version:
      - v1
      Authorization:
      - Client-ID <UNSPLASH_ACCESS_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      X-Total:
      - '0'
      X-Per-Page:
      - '30'
      Content-Type:
      - application/json
      Etag:
      - W/"7814e74bfa62dcc505522924e3c8cf4b"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":0,"total_pages":0,"results":[]}'
  recorded_at: Sun, 10 Oct 2021 18:22:21 GMT
- request:
    method: get
    uri: https://api.pexels.com/v1/search?locale=ja-JP&page=1&per_page=60&query=vvgecievugufukukdhdifljfcfnltjbgfnvtgjvhillt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXELS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19669'
      X-Ratelimit-Reset:
      - '1635039298'
      X-Server:
      - master
      X-Tyk-Cached-Response:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":60,"photos":[],"total_results":0}'
  recorded_at: Sun, 10 Oct 2021 18:22:21 GMT
- request:
    method: get
    uri: https://pixabay.com/api/?key=<PIXABAY_API_KEY>&page=1&per_page=60&q=vvgecievugufukukdhdifljfcfnltjbgfnvtgjvhillt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '85'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Reset:
      - '0.6449786951375562'
      Allow:
      - POST, OPTIONS, GET
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"total":0,"totalHits":0,"hits":[]}'
  recorded_at: Sun, 10 Oct 2021 18:22:21 GMT
- request:
    method: get
    uri: https://api.shutterstock.com/v2/images/search?keyword_safe_search=false&page=1&per_page=60&query=vvgecievugufukukdhdifljfcfnltjbgfnvtgjvhillt&region=ja&safe=false&sort=relevance
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <SHUTTERSTOCK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7a-Wwmcx46+cUx9GD0nPz80pFiSFao"'
      X-Shutterstock-App-Version:
      - apitwo
      X-Shutterstock-Resource:
      - "/v2/images/search"
      X-End-User-Client-Id:
      - WhGgclaoNZGaRAJkS85bkW87u19vp42q
      X-End-User-Request-Id:
      - rrt-06176f65917539f47-b-ea-29340-59412353-1
      X-End-User-User-Id:
      - '237798315'
      Ratelimit-Limit:
      - '100'
      Ratelimit-Remaining:
      - '67'
      Ratelimit-Reset:
      - '1633892400000'
    body:
      encoding: UTF-8
      string: '{"page":1,"per_page":60,"total_count":0,"search_id":"88fc012a-54d3-4805-b1d9-b8d0c5f68a4c","data":[],"spellcheck_info":{}}'
  recorded_at: Sun, 10 Oct 2021 18:22:22 GMT
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?content_type=1&format=json&is_getty=true&media=photos&method=flickr.photos.search&nojsoncallback=1&oauth_consumer_key=<FLICKR_API_KEY>&oauth_nonce=QoV0ISa/3pxQMfOE0n0R39SNf22X6a3sdWdi/n7kNGI=&oauth_signature=BHDJAGa1JLEI8nCtc0n3P%2BS9Bcc=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1633890141&oauth_token=<FLICKR_ACCESS_TOKEN>&page=1&per_page=60&safe_search=3&sort=relevance&text=vvgecievugufukukdhdifljfcfnltjbgfnvtgjvhillt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":0,"perpage":60,"total":0,"photo":[]},"stat":"ok"}'
  recorded_at: Sun, 10 Oct 2021 18:22:23 GMT
recorded_with: VCR 6.0.0
