---
http_interactions:
- request:
    method: get
    uri: https://api.shutterstock.com/v2/images/search?keyword_safe_search=false&page=1&per_page=60&query=cats&region=ja&safe=false&sort=relevance
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <SHUTTERSTOCK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"15583-iNEJqYpsVk8qQjWrRJgMAzzcq2w"'
      X-Shutterstock-App-Version:
      - apitwo
      X-Shutterstock-Resource:
      - "/v2/images/search"
      X-End-User-Client-Id:
      - WhGgclaoNZGaRAJkS85bkW87u19vp42q
      X-End-User-Request-Id:
      - rrt-06176f65917539f47-b-ea-29340-59412327-1
      X-End-User-User-Id:
      - '237798315'
      Ratelimit-Limit:
      - '100'
      Ratelimit-Remaining:
      - '69'
      Ratelimit-Reset:
      - '1633892400000'
    body:
      encoding: UTF-8
      string: '{"page":1,"per_page":60,"total_count":11741,"search_id":"20365302-2a14-4686-8e7c-40ac5dee1ec4","data":[{"id":"1586647861","aspect":1.5,"assets":{"preview":{"height":300,"url":"https://image.shutterstock.com/display_pic_with_logo/250738318/1586647861/stock-photo-nurse-holding-pet-cat-in-recovery-room-of-vet-surgery-1586647861.jpg","width":450},"small_thumb":{"height":67,"url":"https://thumb7.shutterstock.com/thumb_small/250738318/1586647861/stock-photo-nurse-holding-pet-cat-in-recovery-room-of-vet-surgery-1586647861.jpg","width":100},"large_thumb":{"height":100,"url":"https://thumb7.shutterstock.com/thumb_large/250738318/1586647861/stock-photo-nurse-holding-pet-cat-in-recovery-room-of-vet-surgery-1586647861.jpg","width":150},"huge_thumb":{"height":260,"url":"https://image.shutterstock.com/image-photo/nurse-holding-pet-cat-recovery-260nw-1586647861.jpg","width":390},"preview_1000":{"url":"https://ak.picdn.net/shutterstock/photos/1586647861/watermark_1000/2ea5ea110874c16b64277d21e756a80f/preview_1000-1586647861.jpg","width":1000,"height":667},"preview_1500":{"url":"https://image.shutterstock.com/z/stock-photo-nurse-holding-pet-cat-in-recovery-room-of-vet-surgery-1586647861.jpg","width":1500,"height":1000}},"contributor":{"id":"250738318"},"description":"Nurse
        holding pet cat in recovery room of vet surgery","image_type":"photo","has_model_release":true,"media_type":"image"},{"id":"1939464211","aspect":1.4992,"assets":{"preview":{"height":300,"url":"https://image.shutterstock.com/display_pic_with_logo/301540237/1939464211/stock-photo-two-veterinarians-holding-down-a-persian-cat-at-the-exam-table-caucasian-professional-woman-vet-1939464211.jpg","width":450},"small_thumb":{"height":67,"url":"https://thumb7.shutterstock.com/thumb_small/301540237/1939464211/stock-photo-two-veterinarians-holding-down-a-persian-cat-at-the-exam-table-caucasian-professional-woman-v[...]
