<div class="index-container">
  <div class="form-container">
    <%= form_with(url: search_path, method: "get", local: true, class: "search-form") do |f| %>
      <div class="field has-addons">
        <p class="control">
          <span class="select">
            <%= f.select(
              :provider,
              options_for_select(
                { "Multi" => "multi", "Unsplash" => "unsplash", "Pixabay" => "pixabay", "Pexels" => "pexels" },
                params[:provider] || "multi"
              )
            ) %>
          </span>
        </p>
        <div class="control image-search-input-container">
          <%= f.text_field(
            :q,
            value: @previous_query,
            class: "input image-search-input",
            placeholder: "Search for an image by keyword...",
            autocomplete: "off",
            autofocus: "true"
          ) %>
        </div>
        <div class="control">
          <input type="submit" value="Search" class="button is-info" data-disable-with="Search">
        </div>
      </div>
    <% end %>
  </div>

  <div class="image-results-container">
    <%= render(partial: 'image_search/image', collection: @images, as: :image) %>
  </div>
</div>
